
<div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <div class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" [(ngModel)]="signUpCredentials.userName" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" [(ngModel)]="signUpCredentials.password" class="form-control" placeholder="Password" required>
                <input type="password" id="inputVerifyPassword" [(ngModel)]="signUpCredentials.verifyPassword" class="form-control" placeholder="Verify Password" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="signUp()">Sign up</button>
            </div><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->