<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="home">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="myPage" *ngIf="auth.logedIn">My Page</a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="auth.logedIn">
            <li class="nav-item dropdown" style="opacity: 0.5;">
                    <div class="btn-group" dropdown>
                        <button dropdownToggle type="button" class="btn dropdown-toggle">
                            <fa name="far fa-envelope" ></fa> <span class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                          <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                          <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                          <li role="menuitem"><a class="dropdown-item" href="#">Something else here lasdjkgh<br> asldgh</a></li>
                          <li class="divider dropdown-divider"></li>
                          <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                          </li>
                        </ul>
                      </div>
                </li>
                <li class="nav-item dropdown" style="opacity: 0.5;">
                        <div class="btn-group" dropdown>
                            <button dropdownToggle type="button" class="btn dropdown-toggle" >
                                <fa name="far fa-bell" ></fa> <span class="caret"></span>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                              <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                              <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                              <li role="menuitem"><a class="dropdown-item" href="#">Something else here lasdjkgh<br> asldgh</a></li>
                              <li class="divider dropdown-divider"></li>
                              <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                              </li>
                            </ul>
                          </div>
                    </li>
      </ul>
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item">
          <a class="nav-link" routerLink="signUp" *ngIf="!auth.logedIn">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signIn" *ngIf="!auth.logedIn">Log In</a>
        </li>
        <li class="nav-item">
            <button class="btn" *ngIf="auth.logedIn">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"></router-outlet>
</main>